 <style>
    .container{
      width: 900px;
      height: 100%;
      margin: 40px auto;
      border-radius: 25px;
      border: 1px solid blueviolet;
      
      div {
    background-image:url('the_walking_dead_tease.0.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
    }

    </style>
