 .container {
      width: 900px;
      height: 100%;
      margin: 40px auto;
      border-radius: 25px;
      border: 1px solid #000;
      text-align: center;
      padding: 50px;
    }
img {
    border: 25px solid #ffcc66;
    border-radius: 60%;
}

  body {
    background-image: url("the_walking_dead_tease.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}
